﻿@model IEnumerable<ListadoDatosSimulado.Models.Persona>

@{
    ViewBag.Title = "Index";
}

<h2>Listado de PERSONAS</h2>

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@
<table class="table">
    <tr>
        <th>
            @*@Html.DisplayNameFor(model => model.codigo)*@
            Código
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.nombre)*@
            Nombre
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.aPaterno)*@
            Apellido Paterno
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.aMaterno)*@
            Apellido Materno
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.codigo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.aPaterno)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.aMaterno)
        </td>
        @*<td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>*@
    </tr>
}

</table>
